.comments {
    position: relative;
    margin-top: 50px;
}
.comment {
    position: relative;
    display: flex;
   justify-content: space-around;
   padding-bottom: 40px;
   align-items: center;
   bottom: 20px;

}


.comment > p {
    width: 190px;
}

.commentsBarWrapper {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    justify-content: center !important;
}

.commentsBarWrapper > input {
   width: 325px;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
   
}

.commentSelect {
  
}


